version: 2
updates:

- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    # Check for updates to GitHub Actions every weekday
    interval: "daily"
  ignore:
  - dependency-name: "*"
    update-types: [ "version-update:semver-patch" ] # ignore patch updates

- package-ecosystem: "mix"
  directory: "/"
  schedule:
    interval: "daily"

# Enable version updates for npm
- package-ecosystem: "npm"
  # Look for `package.json` and `lock` files in the `root` directory
  directory: "/assets"
  # Check the npm registry for updates every day (weekdays)
  schedule:
    interval: "daily"
