services:
  db:
    #image: postgres:alpine
    build: ./postgres-docker
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGDATA: /var/lib/postgresql/data/pgdata
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - ./_pgdata:/var/lib/postgresql/data