# fly.toml app configuration file generated for sensocto on 2024-04-16T15:12:59+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'sensocto'
primary_region = 'ams'
kill_signal = 'SIGTERM'

[mounts]
  source = "data"
  destination = "/data"

[build]

[deploy]
  release_command = '/app/bin/migrate'

[env]
  PHX_HOST = 'sensocto.fly.dev'
  PORT = '4000'
  DNS_CLUSTER_QUERY = "sensocto.internal"

[http_service]
  internal_port = 4000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 1000
    soft_limit = 1000

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
