@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.btn {
    @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
    @apply bg-blue-500 text-white;
}
.btn-blue:hover {
    @apply bg-blue-700;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow_: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

input {
    color:#000;
}

[data-tooltip] {
    position: relative; /* Necessary for absolute positioning of the tooltip */
  }
  
  
  [data-tooltip]:before {
    content: attr(data-tooltip); /* Get the tooltip text from the data attribute */
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: auto; /* Position above the element */
    bottom: 100%;
    left: 0;
    margin-bottom:1em;
    transform: translateX(); /* Center horizontally */
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out; /* Smooth transitions */
    z-index: 10; /* Ensure tooltip is on top */
  }
  
  
  [data-tooltip]:hover:before {
    visibility: visible;
    opacity: 1;
  }